<Response>
  <%= if @permit_editing do %>
    <Say>Please record the new message</Say>
    <Record method="GET" action="<%= Routes.message_path(@conn, :preview) %>" />
  <% else %>
    <Say>Authentication failure</Say>
    <Redirect method="GET"><%= Routes.message_path(@conn, :show) %></Redirect>
  <% end %>
</Response>
